/* ==UserStyle==
@name						BGA Schotten Totten alternative cards
@description		Replaces cards to better distinguish yellow and "brown".
@version				0.1.2
@author					yzemaze
@namespace			github.com/yzemaze/
@homepageURL		https://github.com/yzemaze/bga-schottentotten-userstyle/
@supportURL			https://github.com/yzemaze/bga-schottentotten-userstyle/issues/
@updateURL			https://github.com/yzemaze/bga-schottentotten-userstyle/raw/main/schottentotten.user.styl
@license				GPLv3
@preprocessor		stylus

==/UserStyle== */

@-moz-document regexp("https://(\w*\.)?boardgamearena.com/.*/schottentotten.*"), regexp("https://(\w*\.)?boardgamearena.com/archive/replay/.*")
	.schotten-totten-card-front
		background-image: url("https://github.com/yzemaze/bga-schottentotten-userstyle/blob/main/img/cards_yze.jpg?raw=true") !important
